{
  "extends": [
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["jsx-a11y"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 1,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
    "prefer-const": 2,
    "no-var": 2,
    "no-nested-ternary": 0,
    "react/jsx-props-no-spreading": 0,
    "require-jsdoc": 0,
    "valid-jsdoc": 1,
    "prettier/prettier": 0,
    "react/no-unescaped-entities": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
