{
  "extends": [
    "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prefer-const": 2,
    "no-var": 2,
    "no-nested-ternary": 0,
    "react/jsx-props-no-spreading": 0,
    "prettier/prettier": "error"
  }
}
