:root {
  --grey-000: #f8fafc;
  --grey-400: #94a3b8;
  --indigo-500: #6366f1;
  --indigo-800: #3730a3;
  --indigo-900: #19174d;
  --indigo-1000: #0b0a26;
  --emerald-500: #10b981;
  --emerald-800: #065f46;
}

html {
  font-family: -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--indigo-1000);
}

main {
  color: var(--grey-000);
  background-color: var(--indigo-900);
  padding: 3rem 24px;
  margin: 0 auto;
  max-width: 1080px;
}

main > * + * {
  margin-top: 2rem;
}

div > main > * + * {
  margin-top: 1.5rem;
}

button,
input[type='submit'] {
  box-sizing: border-box;
  padding: 8px 32px;
  border-radius: 32px;
  border: none;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  background-color: var(--indigo-800);
  color: var(--grey-000);
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  min-height: 48px;
}

a {
  color: white;
}
